In [1]:
import pandas as pd
import numpy as np 
from typing import List
from src.data.make_dataset import make_dataset, remove_rows_with_null_values

%matplotlib inline

TRAIN_FILE = '../data/raw/train.parquet'
TEST_FILE = '../data/raw/test.parquet'

In [2]:
train_df = pd.read_parquet(TRAIN_FILE, engine='auto')
test_df = pd.read_parquet(TEST_FILE, engine='auto')

In [3]:
train_df.head()

,id,dates,values,label
0,19114,"[2016-01-01, 2016-02-01, 2016-03-01, 2016-04-0...","[-1.86, 0.79, 1.4, 0.15, 0.0, -1.24, -1.46, 3....",0.0
1,22769,"[2016-05-01, 2016-06-01, 2016-07-01, 2016-08-0...","[-1.04, -3.48, 0.05, -0.13, -0.01, 0.03, 0.27,...",1.0
2,76935,"[2017-03-01, 2017-04-01, 2017-05-01, 2017-06-0...","[0.28, 0.63, 0.06, 0.96, -1.4, -0.3, 1.62, 1.1...",0.0
3,66297,"[2016-01-01, 2016-02-01, 2016-03-01, 2016-04-0...","[-0.33, 0.58, 1.1, -0.56, -0.95, -0.61, -0.7, ...",0.0
4,2191,"[2016-01-01, 2016-02-01, 2016-03-01, 2016-04-0...","[1.31, 0.5, -0.54, 0.95, 0.65, 0.83, -1.55, -0...",0.0

In [4]:
test_df.head()

,id,dates,values
0,6125,"[2016-01-01, 2016-02-01, 2016-03-01, 2016-04-0...","[1.85, -0.04, 0.19, -0.45, -0.75, -0.95, -2.91..."
1,26781,"[2016-01-01, 2016-02-01, 2016-03-01, 2016-04-0...","[-0.41, 0.39, -0.47, -0.9, -1.46, -0.51, 0.51,..."
2,13333,"[2016-06-01, 2016-07-01, 2016-08-01, 2016-09-0...","[-0.29, -1.26, 0.17, -1.22, 0.45, -0.94, 0.16,..."
3,53218,"[2016-01-01, 2016-02-01, 2016-03-01, 2016-04-0...","[-1.47, 1.55, -0.03, 0.57, -0.57, 0.6, 0.27, 1..."
4,84204,"[2016-01-01, 2016-02-01, 2016-03-01, 2016-04-0...","[2.33, 1.39, -1.03, -2.64, 1.89, 1.77, 1.43, 1..."

In [5]:
train_df = make_dataset(train_df)
test_df = make_dataset(test_df)

c:\Users\wizzt\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
c:\Users\wizzt\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

Memory usage of dataframe is 29.26 MB
Memory usage after optimization is: 8.38 MB
Decreased by 71.4%

c:\Users\wizzt\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
c:\Users\wizzt\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

Memory usage of dataframe is 7.16 MB
Memory usage after optimization is: 2.06 MB
Decreased by 71.3%

In [6]:
train_df.head()

,id,start_date,end_date,duration,linear_trend,phase_duration,max_trend_length,time_series_entropy,calculate_iqr,variance_larger_than_standard_deviation,...,absolute_maximum,minimum,benford_correlation,autocorrelation_lag_1,fft_coefficient_0,fft_coefficient_1,number_crossing_0,energy_ratio_by_chunks,permutation_entropy,target
0,19114,16801,18659,1858,-0.011223,7,4,1.768555,1.452148,1.0,...,4.839844,-4.839844,0.936035,-0.113647,1.469727,11.312500,28,0.087769,0.973633,0.0
1,22769,16922,18262,1340,-0.026749,10,4,2.107422,1.750000,1.0,...,3.535156,-3.535156,0.889160,0.189819,13.984375,19.890625,16,0.116577,0.970215,1.0
2,76935,17226,18659,1433,-0.032471,17,4,2.109375,1.492188,1.0,...,2.609375,-1.950195,0.901855,0.501465,2.210938,20.515625,9,0.061615,0.995605,0.0
3,66297,16801,18231,1430,0.049286,13,7,2.171875,1.775391,1.0,...,2.490234,-2.220703,0.822754,0.705078,6.238281,30.750000,11,0.044037,0.948730,0.0
4,2191,16801,18475,1674,-0.011475,4,4,2.195312,1.927734,1.0,...,2.869141,-2.500000,0.916504,0.088928,15.148438,5.320312,25,0.045197,0.994141,0.0

In [7]:
test_df.head()

,id,start_date,end_date,duration,linear_trend,phase_duration,max_trend_length,time_series_entropy,calculate_iqr,variance_larger_than_standard_deviation,...,maximum,absolute_maximum,minimum,benford_correlation,autocorrelation_lag_1,fft_coefficient_0,fft_coefficient_1,number_crossing_0,energy_ratio_by_chunks,permutation_entropy
0,6125,16801,18506,1705,-0.010017,7,4,2.138672,1.959961,1.0,...,3.130859,3.140625,-3.140625,0.944336,0.361572,2.160156,15.000000,21,0.039642,0.985352
1,26781,16801,18444,1643,-0.009308,9,3,1.987305,1.464844,1.0,...,3.849609,3.849609,-2.240234,0.896973,0.013260,0.930176,14.078125,23,0.043579,0.986328
2,13333,16953,18597,1644,0.025452,8,6,1.916992,1.325195,1.0,...,3.460938,3.460938,-1.450195,0.841309,0.376221,2.175781,17.734375,21,0.077515,0.973145
3,53218,16801,19144,2343,-0.008522,8,3,2.000000,1.429688,1.0,...,3.429688,3.429688,-2.730469,0.909668,0.260498,12.421875,21.109375,38,0.053558,0.995117
4,84204,16801,18748,1947,-0.024734,9,3,2.105469,1.940430,1.0,...,2.570312,2.660156,-2.660156,0.916992,0.358154,6.156250,10.125000,31,0.238892,0.994141

In [8]:
train_df.to_parquet('../data/processed/train_processed.parquet', engine='auto')
test_df.to_parquet('../data/processed/test_processed.parquet', engine='auto')